* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fafafa;
  color: #222;
  line-height: 1.6;
  padding: 20px;
}

header {
    background-color: #9e0202;
    height: 100px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

header img {
    height: 100px;
    float: left;
    border-radius: 20px;
}

h1{
    font-family: "Luminari";
    text-align: left;
    margin-bottom: 25px;
    color: #0257c5;
    text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 25px;
  color: #0257c5;
  text-transform: uppercase;
}

form {
  max-width: 450px;
  background: #fff;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
