.topo{
    min-width: 100%;
    height: 5rem;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    display: inline-block;
    padding: 0 1rem;
}